<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>Recuperar contraseña</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="<?php echo site_url('login'); ?>">Iniciar sesi&oacute;n</a></li>
                    <!--<li class="breadcrumb-item"><a href="#">Login</a></li>-->
                    <li class="breadcrumb-item active">Recuperar contraseña</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START LOGIN SECTION -->
<div class="login_register_wrap section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-10">
                <div class="login_wrap">
            		<div class="padding_eight_all bg-white">
                        <p style="text-align: justify;" class="mb-4">Ingresa tu direcci&oacute;n de correo electr&oacute;nico asociado a la cuenta de Ecommerce.
                            El c&oacute;digo de verificaci&oacute;n para recuperar tu contraseña ser&aacute; enviado a esta direcci&oacute;n de correo. 
                            Por favor revisa la bandeja de correos no deseados.
                        </p>
                        <form id="formEnviarToken">
							<input id="tokenRecaptcha" type="hidden" value="" name="token" />
                            <div class="mb-3">
                                <h6 class="fw-bold">Correo electr&oacute;nico:&nbsp;<span class="required">*</span></h6>
                                <input id="txtEmail" type="text" class="form-control" name="reg[email]" placeholder="Ingresa correo electr&oacute;nico" />
                            </div>
                            <div class="text-end mb-3">
                                <label class="pb-2"><span class="required">*</span><i class="text-secondary">Campos obligatorios</i></label>
                            </div>
                            <div class="mb-3">
                                <button id="btnRecuperar" type="button" class="btn btn-danger btn-block">RECUPERAR CONTRASEÑA</button>
                            </div>
                            <div class="mb-3">
                                <button id="btnRegresar" type="button" class="btn btn-secondary btn-block">REGRESAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END LOGIN SECTION -->
<script>
    const keySiteWeb = '<?php echo $keySiteWeb; ?>';
</script>