<!-- START LOGIN SECTION -->
<div class="login_register_wrap section mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-10">
                <div class="login_wrap">
            		<div class="padding_eight_all bg-white">
                        <label class="pb-1 pb-4">Por favor introduce tu nueva contraseña</label>
                        <div class="contact-form">
                            <form id="formUpdatePassword">
                                <input type="hidden" id="txtIdUsuario" name="usuario[idUsuario]" value="<?php echo $idUsuario; ?>" />
							    <input id="tokenRecaptcha" type="hidden" value="" name="token" />
	                            <div class="mb-3">
                                    <h6 class="fw-bold">Nueva contraseña:&nbsp;<span class="required">*</span></h6>
                                    <input id="password" type="password" name="usuario[password]" class="form-control" placeholder="Ingresa nueva contraseña" />
                                </div>
                                <div class="mb-3">
                                    <h6 class="fw-bold">Confirmar tu contraseña:&nbsp;<span class="required">*</span></h6>
                                    <input id="inputPassword2" type="password" name="inputPassword2" class="form-control" placeholder="Ingresa la confirmaci&oacute;n de contraseña" />
                                </div>
                                <div class="text-end mb-3">
                                    <label class="text-right pb-2 required">* Campos obligatorios</label>
                                    <div id="Numbers" class="glyphicon glyphicon-remove"><i id="imgNumbers" class="fas fa-times"></i> Compuesta &uacute;nicamente de letras y n&uacute;meros</div>
                                    <div id="UpperCase" class="glyphicon glyphicon-remove"><i id="imgUpperCase" class="fas fa-times"></i> Al menos una letra mayuscula</div>
                                    <div id="Length" class="glyphicon glyphicon-remove"><i id="imgLength" class="fas fa-times"></i> Entre 8 y 20 caracteres</div>
                                </div>
                            </form>
                        </div>

                        <div class="justify-content-md-center mb-5">
                            <button type="button" id="btnActualizarPassword" class="btn btn-success w-100 mb-3">Reestablecer contraseña</button>
                            <a style="margin-left: 0px;" href="<?php echo site_url('login/validate'); ?>" id="btnRegresarValidar" class="btn btn-secondary w-100">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END LOGIN SECTION -->
<script>
    const keySiteWeb = '<?php echo $keySiteWeb; ?>';
</script>