<div class="container">

    <form id="formModalAddQuestion" method="POST">
		
        <input type="hidden" name="reg[idPregunta]" id="idPregunta" value="<?php echo !empty($question['idPregunta']) ? $question['idPregunta'] : '' ?>">
        <input type="hidden" name="reg[idFormulario]" value="<?php echo $idFormulario ?>">

        <div class="row mt-3">
            <h5 class="required text-end">* Campos obligatorios</h5>
        </div>

        <div class="mb-3 row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-md-12 col-12 mb-2">
                    <h6 class="fw-bold">Posici&oacute;n:&nbsp;<span class="required">*</span></h6>
                    <select id="consecutivo" name="reg[consecutivo]" class="form-select form-control form-control-lg">
                        <?php if( empty($question) ) { ?>
                            <?php for($i=1; $i<=$posicion; $i++): ?>
                                <?php if($i == $posicion){ ?>
                                    <option value="<?php echo $i; ?>" selected><?php echo $i; ?></option>
                                <?php } else { ?>
                                    <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                <?php } ?>
                            <?php endfor; ?>
                        <?php } else { ?>
                            <?php for($i=1; $i<=$posicion; $i++): ?>
                            <?php if($i == $question['consecutivo']){ ?>
                                <option value="<?php echo $i; ?>" selected><?php echo $i; ?></option>
                            <?php } else { ?>
                                <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                            <?php } ?>
                        <?php endfor; ?>
                        <?php } ?>
                    </select> 
                </div>
                <div class="col-md-12 col-12 mb-2">
                    <h6 class="fw-bold">Pregunta:&nbsp;<span class="required">*</span></h6>
                    <input type="text" class="form-control" name="reg[etiqueta]" id="txtEtiqueta" placeholder="Etiqueta" value="<?php echo !empty($question['etiqueta']) ? $question['etiqueta'] : '' ?>" >
                </div> 
                <div class="col-md-12 col-12 mb-2">
                    <h6 class="fw-bold">Tipo de campo:&nbsp;<span class="required">*</span></h6>
                    <select id="idTipoCampo" name="reg[idTipoCampo]" class="form-select form-control form-control-lg" onChange="tipoCampoOnChange(this)">
                        <?php echo $listaTipoCampo ?>
                    </select> 
                </div> 
                <div class="col-md-12 col-12 mb-2">
                    <h6 class="fw-bold">Obligatorio:&nbsp;<span class="required">*</span></h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reg[requerido]" id="radSiM" value="1" <?php echo isset($question['requerido']) && $question['requerido'] == '1' ? 'checked' : ''; ?>>
                        <label class="form-check-label" for="radSiM">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reg[requerido]" id="radNoM" value="0" <?php echo isset($question['requerido']) && $question['requerido'] == '0' ? 'checked' : ''; ?>>
                        <label class="form-check-label" for="radNoM">No</label>
                    </div>
                </div>
                <div class="col-md-12 col-12 mb-2">
                    <h6 class="fw-bold">Visible para rol(es):</h6>
                    <select id="idRol" name="reg[idRol][]" class="form-control selectpicker" title=" - Elegir - " multiple data-actions-box="true">
                        <?php foreach($roles as $rol) { ?>

                            <?php if(in_array($rol['idRol'], $idsRoles)) { ?>
                                <option selected value="<?php echo $rol['idRol']; ?>"><?php echo $rol['nombre']; ?></option>    
                            <?php } else { ?> 
                                <option value="<?php echo $rol['idRol']; ?>"><?php echo $rol['nombre']; ?></option>    
                            <?php }  ?> 
                        
                        <?php } ?>                                  
                    </select>                   
                </div>                                    
            </div> 

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="col-md-12 col-12 mb-2">
                    <h6 class="fw-bold">Solo Lectura:&nbsp;<span class="required">*</span></h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reg[soloLectura]" id="readSi" value="1" <?php echo isset($question['soloLectura']) && $question['soloLectura'] == '1' ? 'checked' : ''; ?>>
                        <label class="form-check-label" for="readSi">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reg[soloLectura]" id="readNo" value="0" <?php echo isset($question['soloLectura']) && $question['soloLectura'] == '0' ? 'checked' : ''; ?>>
                        <label class="form-check-label" for="readNo">No</label>
                    </div>
                </div>
                <div id="divFormato" class="col-md-12 col-12 mt-1 mb-2" style="display: none;">
                    <h6 class="form-label fw-bold">Formato:&nbsp;<span class="required">*</span></h6>
                    <select id="formato" name="reg[formato]" class="form-select form-control form-control-lg">
                        <option value=""> - Elige - </option>
                        <option id="v1" style="display: none;" value="fecha" <?php echo isset($question['formato']) && $question['formato'] == 'fecha' ? 'selected' : '' ?>>dd/mm/aaaa</option>
                        <option id="v2" style="display: none;" value="americandate" <?php echo isset($question['formato']) && $question['formato'] == 'americandate' ? 'selected' : '' ?>>aaaa/mm/dd</option>
                        <option id="v3" style="display: none;" value="maskIntegerWithOutDigits" <?php echo isset($question['formato']) && $question['formato'] == 'maskIntegerWithOutDigits' ? 'selected' : '' ?>>Enteros</option>
                        <option id="v4" style="display: none;" value="maskCantidad" <?php echo isset($question['formato']) && $question['formato'] == 'maskCantidad' ? 'selected' : '' ?>>2 decimales</option>
                        <option id="v5" style="display: none;" value="maskCantidad3Dig" <?php echo isset($question['formato']) && $question['formato'] == 'maskCantidad3Dig' ? 'selected' : '' ?>>3 decimales</option>
                    </select> 
                </div>
                <div id="divLong" class="col-md-12 col-12 mb-2" style="display: none;">
                    <div class="form-group">
                        <h6 class="fw-bold">Longitud de campo:</h6>
                        <input type="text" class="form-control" name="reg[longitud]" id="txtLongitud" placeholder="Longitud" value="<?php echo !empty($question['longitud']) ? $question['longitud'] : '' ?>"> 
                    </div>                  
                </div>
                <div class="col-md-12 col-12 mt-1 mb-2">
                    <h6 class="form-label fw-bold">M&eacute;todo:</h6>
                    <select name="reg[metodo]" class="form-select form-control form-control-lg">
                        <option value=""> - Elige - </option>
                        <option value="calculateIMC" <?php echo isset($question['metodo']) && $question['metodo'] == 'calculateIMC' ? 'selected' : '' ?>>calcular IMC</option>
                    </select> 
                </div> 
                <!--<div id="divDecimales" class="col-md-12 col-12 mb-2" style="display: none;">
                    <div class="form-group">
                        <h6 class="fw-bold">N&uacute;mero de decimales:</h6>
                        <input type="text" class="form-control" name="reg[decimales]" id="txtDecimal" placeholder="N&uacute;mero de decimales" value="<?php echo !empty($question['decimales']) ? $question['decimales'] : '' ?>"> 
                    </div>                  
                </div>  
                
                <div id="divContextValue" class="col-md-12 col-12 mb-2" style="display: none;">
                    <h6 class="fw-bold">Se permiten valores negativos:</h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reg[valoresNegativos]" id="vSi" value="1" <?php echo !empty($question['valoresNegativos']) ? ($question['valoresNegativos'] == '1' ? 'checked' : '') : ''; ?>>
                        <label class="form-check-label" for="vSi">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="reg[valoresNegativos]" id="vNo" value="0" <?php echo !empty($question['valoresNegativos']) ? ($question['valoresNegativos'] == '0' ? 'checked' : '') : ''; ?>>
                        <label class="form-check-label" for="vNo">No</label>
                    </div>
                </div>-->

            </div>
        </div>

        <div id="divOpciones" class="row mb-2" style="display: none;">            
            <div class="input-group">
                <select id="posicion" name="reg[posicion]" class="form-select form-select-sm" style="max-width: max-content;">
                    <?php for($i=1; $i<=$posicionOption; $i++): ?>
                        <?php if($i == $posicionOption){ ?>
                            <option value="<?php echo $i; ?>" selected><?php echo $i; ?></option>
                        <?php } else { ?>
                            <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                        <?php } ?>
                    <?php endfor; ?>
                </select> 
                <input type="text" class="form-control" name="reg[opcion]" id="txtOpcion" placeholder="Opci&oacute;n" >
                <button id="btnSaveOptionsQuestion" type="button" class="btn btn-success h-100" style="font-size: x-small;">Agregar opci&oacute;n</button>
                <button id="btnUpdateOptionsQuestion" type="button" class="btn btn-success h-100" style="font-size: x-small; display: none;">Guardar</button>
            </div>
        </div>

        <div id="divTblOpciones" class="row text-center mb-4" style="display: none;">
            <div class="col-md-12 col-12 table-responsive">
                <table class="table table-bordered table-sm" id="tblOptions">
                    <thead class="table-light">
                        <th class="text-center">#</th>
                        <th class="text-center">Opci&oacute;n</th>
                        <th class="text-center">Acci&oacute;n</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div id="divConditionQuestion" class="row mb-1" style="display: none;">
            <div class="input-group">
                <select id="idPreguntaCondicion" name="reg[idPreguntaCondicion]" class="form-select form-control" onchange="showOptionsQuestion()">
                    <?php echo $listaPregunta ?>
                </select> 
                <select id="idPreguntaOpcion" name="reg[idPreguntaOpcion]" class="form-select form-control" >
                    <?php if( !empty($options) ){ ?>
                        <?php echo $options; ?>
                    <?php } else { ?>
                        <option value=""> - Opci&oacute;n - </option>
                    <?php } ?>
                </select> 
                <button id="btnSaveConditionQuestion" type="button" class="btn btn-success h-100" style="font-size: x-small;">Agregar condici&oacute;n</button>
                <button id="btnUpdateConditionQuestion" type="button" class="btn btn-success h-100" style="font-size: x-small; display: none;">Guardar</button>
            </div>
        </div>

        <div id="divTblConditionQuestion" class="row text-center mb-4" style="display: none;">
            <div class="col-md-12 col-12 table-responsive">
                <table class="table table-bordered table-sm" id="tblOptionsConditions">
                    <thead class="table-light">
                        <th class="text-center">#</th>
                        <th class="text-center">Pregunta</th>
                        <th class="text-center">Opci&oacute;n</th>
                        <th class="text-center">Acci&oacute;n</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </form>
</div>
<script>
    typeField = "<?php echo !empty($question['cveField']) ? $question['cveField'] : '' ?>";
</script>
